@page "/fetchdata"

<<<<<<< HEAD
<PageTitle>Product Manager</PageTitle>
=======
<PageTitle>Weather forecast</PageTitle>
>>>>>>> 7e2fb0bff8c1c90ba9839e522a766f0fd0b2bd04

@using BlazorApp1.Data
@inject WeatherForecastService ForecastService

<<<<<<< HEAD
<h1>Product Manager</h1>

=======
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>
>>>>>>> 7e2fb0bff8c1c90ba9839e522a766f0fd0b2bd04

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table is-bordered">
        <thead>
            <tr class="is-info">
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
