@page "/"
<<<<<<< HEAD
<PageTitle>Blog</PageTitle>
@using System.Collections.Generic
@using BlazorApp1.Common
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Rendering

<section class="column">
	<div class="main">
		<Carousel />
	</div>
	<ul class="columns is-vcentered">
		<li class="column is-narrow">
			<h1 class="title is-5 ">
				TIN NỔI BẬT
			</h1>
		</li>
		<li class="column">
			<hr class="m-0">
		</li>
	</ul>

	<div class="buma-container buma-mt-4">
		<div class="buma-row buma-gutter-24">
			<!-- Cột trái (chiếm 1/2 màn hình trên desktop) -->
			<div class="buma-col-12 buma-col-md-6 buma-mb-4">
				<!-- Card lớn bên trái -->
				<EventCard Title="FASTDO ACADEMY"
						   Subtitle="Nơi tổng hợp thông tin của tất cả các chương trình đào tạo"
						   Date="16/01/2024"
						   TagType="TagType.Green"
						   TagText="Hoạt động nội bộ"
						   BackgroundClass="bg-academy"
						   Height="580px" />
			</div>

			<!-- Cột phải (chiếm 1/2 màn hình trên desktop) -->
			<div class="buma-col-12 buma-col-md-6">
				<!-- Hàng 1 của cột phải -->
				<div class="buma-row buma-gutter-24">
					<!-- Card 2 (chiếm toàn bộ chiều rộng của hàng 1) -->
					<div class="buma-col-12 buma-mb-4">
						<EventCard Title="TỔNG HỢP BIÊN BẢN HỌP GIAO BAN"
								   Date="22/04/2024"
								   TagType="TagType.Green"
								   TagText="Hoạt động nội bộ"
								   BackgroundClass="bg-gradient-purple-red"
								   Height="180px" />
					</div>
				</div>

				<!-- Hàng 2 của cột phải -->
				<div class="buma-row buma-gutter-24">
					<!-- Card 3 (chiếm toàn bộ chiều rộng của hàng 2) -->
					<div class="buma-col-12 buma-mb-4">
						<EventCard Title="NỘI DUNG SINH HOẠT HỆ GIÁ TRỊ THÁNG TRÁCH NHIỆM"
								   Date="14/04/2025"
								   TagType="TagType.Blue"
								   TagText="Hệ giá trị"
								   BackgroundClass="bg-gradient-pink-orange"
								   Height="180px" />
					</div>
				</div>

				<!-- Hàng 3 của cột phải (chia làm 2 cột) -->
				<div class="buma-row buma-gutter-24">
					<!-- Card 4 (chiếm 1/2 chiều rộng của hàng 3) -->
					<div class="buma-col-6 buma-mb-4">
						<EventCard Title="SINH HOẠT HỆ GIÁ TRỊ THÁNG CẢI TIẾN"
								   Date="10/03/2025"
								   TagType="TagType.Blue"
								   TagText="Hệ giá trị"
								   BackgroundClass="bg-gradient-purple-blue"
								   Height="180px" />
					</div>
					<!-- Card 5 (chiếm 1/2 chiều rộng của hàng 3) -->
					<div class="buma-col-6 buma-mb-4">
						<EventCard Title="SINH HOẠT HỆ GIÁ TRỊ THÁNG CẢI TIẾN"
								   Date="10/03/2025"
								   TagType="TagType.Blue"
								   TagText="Hệ giá trị"
								   BackgroundClass="bg-gradient-purple-blue"
								   Height="180px" />
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="tabs">
		<ul>
			<li class="is-active"><a>Tất cả</a></li>
			<li><a>Âm nhạc</a></li>
			<li><a>Sản phẩm</a></li>
			<li><a>Thể thao</a></li>
			<li><a>Du lịch</a></li>
		</ul>
	</div>
	<div class="container">

		<div class="columns">

			<div class="column is-3">
				<div class="card">
					<div class="card-image">
						<figure class="image is-4by3">
							<img class="thumnails" src="https://www-konga-com-res.cloudinary.com/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/media/catalog/product/S/I/124210_1612011734.jpg" alt="Placeholder image">
						</figure>
					</div>
					<div class="card-content">
						<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
						<br>
						<div class="content">
							RUN FOR ORANGE HOPE
						</div>
						<span class="tag is-warning">Warning</span>
					</div>
				</div>
			</div>

			<div class="column is-3">
				<div class="card">
					<div class="card-image">
						<figure class="image is-4by3">
							<img class="thumnails" src="https://www-konga-com-res.cloudinary.com/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/media/catalog/product/S/I/124210_1612011734.jpg" alt="Placeholder image">
						</figure>
					</div>
					<div class="card-content">
						<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
						<br>
						<div class="content">
							RUN FOR ORANGE HOPE
						</div>
						<span class="tag is-success">Success</span>
					</div>
				</div>
			</div><div class="column is-3">
				<div class="card">
					<div class="card-image">
						<figure class="image is-4by3">
							<img class="thumnails" src="https://www-konga-com-res.cloudinary.com/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/media/catalog/product/S/I/124210_1612011734.jpg" alt="Placeholder image">
						</figure>
					</div>
					<div class="card-content">
						<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
						<br>
						<div class="content">
							RUN FOR ORANGE HOPE
						</div>
						<span class="tag is-warning">Warning</span>
					</div>
				</div>
			</div><div class="column is-3">
				<div class="card">
					<div class="card-image">
						<figure class="image is-4by3">
							<img class="thumnails" src="https://www-konga-com-res.cloudinary.com/w_auto,f_auto,fl_lossy,dpr_auto,q_auto/media/catalog/product/S/I/124210_1612011734.jpg" alt="Placeholder image">
						</figure>
					</div>
					<div class="card-content">
						<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
						<br>
						<div class="content">
							RUN FOR ORANGE HOPE
						</div>
						<span class="tag is-success">Success</span>
					</div>
				</div>
			</div>
		</div>

	</div>



</section>

@code {

}
=======

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<NavMenu />
>>>>>>> 7e2fb0bff8c1c90ba9839e522a766f0fd0b2bd04
