@page "/checkin-okrs"
<style>
	.menu-collapsed {
		width: 60px;
		transition: width 0.3s ease;
	}

	.menu-expanded {
		width: 16.66667%;
		transition: width 0.3s ease;
	}

	.menu-collapsed .menu-text {
		display: none;
	}

	.menu-collapsed:hover {
		width: 200px;
	}

		.menu-collapsed:hover .menu-text {
			display: inline;
		}

	.menu-item {
		display: flex;
		align-items: center;
	}

	.menu-icon {
		width: 20px;
		text-align: center;
		margin-right: 10px;
	}

	.pinned {
		color: #3273dc;
	}

	.pin-container {
		opacity: 0;
		transition: opacity 0.2s ease;
	}

	.menu-collapsed:hover .pin-container,
	.menu-expanded:hover .pin-container {
		opacity: 1;
	}

	.pinned {
		color: #3273dc;
	}

	.menu-expanded .pin-container {
		opacity: 1;
	}

</style>

<section id="header" class=" shadow-1">
	<ul class="columns is-mobile is-vcentered is-variable is-1 m-0 ">
		<li class="column is-narrow header_product">
			<div id="dropdown_60115dbb" class="dropdown">
				<div class="dropdown-trigger">
					<button class="button is-small is-primary is-inverted">
						<span class="icon">
							<span class="material-icons is-size-5">
								<i class="fa-solid fa-house"></i>
							</span>
						</span>
					</button>
				</div>
			</div>
		</li>
		<li class="column is-narrow"><a href="#"><img id="image_255B67A2DD9D664" src="/images/logo_fastdo.svg" alt="Hình ảnh" class="image pr-2" style="height:20px" loading="lazy" data-loaded="true"></a></li>
		<li class="column is-narrow is-hidden-mobile">
			<a class="icon-text" href="#">
				<span class="icon image is-flex mr-1" style="background:#FCA41B30;padding:1px;border-radius:6px;align-items:center; justify-content:center">
					<span class="material-icons is-size-5" style="color:#FCA41B ">
						<i class="fa-solid fa-location-crosshairs"></i>
					</span>
				</span>
				<span class="has-text-weight-semibold">OKRs</span>
			</a>
		</li>
		<li class="column is-hidden-mobile">
			<div style="max-width:400px">
				<div class="control search_bar  has-icons-left has-icons-right has_suggest" title="Nhấn &quot;/&quot; để tìm kiếm">
					<input id="search_255BC" class="input is-rounded is-small" type="text" placeholder="Tên ứng dụng" autocomplete="off">
					<span class="icon is-left">
						<i class="fas fa-search"></i>
					</span>
					<a class="icon is-right has-text-danger"><kbd>/</kbd></a>
				</div>
			</div>
		</li>
		<li class="column is-hidden-tablet"></li>
		<li class="column is-hidden-mobile is-narrow">
			<div id="dropdown_70975638" class="dropdown ">
				<div class="dropdown-trigger">
					<div class="avatar_list">
						<div class="user_item  "><figure class="image is-24x24"><img id="image_255B8AB9E4D9BAA" src="https://api.dicebear.com/9.x/micah/svg?seed=8" alt="avatar" class="is-rounded" loading="lazy" data-loaded="true"></figure></div>
						<div class="online_dot "></div>
					</div>
				</div>
			</div>
		</li>
		<li class="column is-hidden-mobile is-narrow">
			<div id="dropdown_e6e40ade" class="dropdown">
				<div class="dropdown-trigger">
					<button class="button is-small is-primary is-inverted">
						<span>QUÝ III - 2024</span>
						<span class="icon">
							<span class="material-icons-outlined">
								<i class="fa-solid fa-caret-down"></i>
							</span>
						</span>
					</button>
				</div>
			</div>
		</li>
		<li class="column is-narrow">
			<div id="dropdown_6419bfa7" class="dropdown">
				<div class="dropdown-trigger">
					<button class="button is-small is-white ">
						<span class="icon image is-24x24 is-rounded"><img id="image_255B1990A29D7ED" src="https://storage.googleapis.com/fastdo-storage.appspot.com/638690818948175374_artboard-23-copy@2x.png" alt="Logo" loading="lazy" data-loaded="true"></span>
						<span class="is-hidden-mobile text_1_line" style="max-width:200px">Công ty TNHH Quản trị số Fastdo</span>
						<span class="icon">
							<span class="material-icons-outlined">
								<i class="fa-solid fa-caret-down"></i>
							</span>
						</span>
					</button>
				</div>
			</div>
		</li>

		<li class="column is-narrow">
			|
		</li>
		<li class="column is-narrow">
			<div id="dropdown_42f030a4" class="dropdown is_fixed ">
				<div class="dropdown-trigger">
					<a class="button is-small is-primary is-light">
						<span class="icon">
							<span class="material-icons-outlined">
								<i class="fa-solid fa-business-time"></i>
							</span>
						</span>
						<span>
							Việc trong ngày
						</span>
					</a>
				</div>
			</div>
		</li>
		<li class="column is-narrow">
			<div id="dropdown_5b9f2ca1" class="dropdown is_fixed ">
				<div class="dropdown-trigger">
					<a class="button is-small is-white">
						<span class="icon">
							<span class="material-icons-outlined is-size-6">
								<i class="fa-regular fa-clipboard"></i>
							</span>
						</span>
					</a>
				</div>
			</div>
		</li>
		<li class="column is-narrow" style="z-index:9">
			<div id="dropdown_e8a5013b" class="dropdown  is-noti is-right  ">
				<div class="dropdown-trigger">
					<a class="button is-small is-white">
						<span class="icon">
							<i class="fa-regular fa-message"></i>
						</span>
					</a>
				</div>
			</div>
		</li>
		<li class="column is-narrow" style="z-index:9">
			<div id="dropdown_b71019c0" class="dropdown  is-noti h-full  ">
				<div class="dropdown-trigger">
					<a class="button is-small is-white" style="position:relative">
						<span class="icon">
							<i class="material-icons-outlined is-size-6">
								<i class="fa-solid fa-bell"></i>
							</i>
						</span>
						<span style="background: #f14668; border-radius: 5px;line-height: 14px;font-weight: 500;font-size: 8px;color: #fff;padding: 0px 5px; position: absolute;top: -1px;left: 15px;">
							17
						</span>
					</a>
				</div>
			</div>
		</li>
		<li class="column is-narrow">
			<div id="dropdown_aedf9aed" class="dropdown    ">
				<div class="dropdown-trigger">
					<button class="button is-small is-primary is-inverted">
						<span class="icon">
							<span class="material-icons-outlined">
								<i class="fa-solid fa-circle-info"></i>
							</span>
						</span>
					</button>
				</div>
			</div>
		</li>
		<li class="column is-narrow"><div id="dropdown_57b7e703" class="dropdown "><div class="dropdown-trigger"><button class="button is-small is-text"><img id="image_255B0D8BD4F636D" src="https://storage.googleapis.com/fastdo-storage.appspot.com/avatar/638814352153752677_z6549348119864_ed7446abe24e37c6b09ca1839f11c113.jpg" alt="Hình ảnh" class="image is-rounded is-24x24" style="object-fit:cover" loading="lazy" data-loaded="true"></button></div></div></li>
	</ul>
</section>
<div class="columns is-variable is-gapless" style="height:100%">
	<div class="column @(isMenuCollapsed ? "menu-collapsed is-1" : "menu-expanded is-2") has-background-white" style="border-right: 1px solid #dedede;min-height: 89vh; overflow: hidden;">
		<aside class="menu">
			<div class="level p-4">
				<div class="level-left">
					<button class="level-item" @onclick="ToggleMenu">
						<i class="fa-solid fa-bars"></i>
					</button>
				</div>
				<div class="level-right pin-container">
					<button class="level-item @(isPinned ? "pinned" : "")" @onclick="TogglePin">
						<i class="fa-solid fa-thumbtack"></i>
					</button>
				</div>
			</div>

			<ul class="menu-list m-0" style="list-style:none;font-family:sans-serif; font-size:14px">
				<li>
					<a class="has-text-grey menu-item" style="padding:13px">
						<span class="menu-icon"><i class="fa-solid fa-map-pin"></i></span>
						<span class="menu-text">Góp ý mục tiêu</span>
					</a>
				</li>
				<li>
					<a class="has-text-grey menu-item" style="padding:13px">
						<span class="menu-icon"><i class="fa-solid fa-location-crosshairs"></i></span>
						<span class="menu-text">OKRs của tôi</span>
					</a>
				</li>
				<li>
					<a class="has-text-grey menu-item" style="padding:13px">
						<span class="menu-icon"><i class="fa-solid fa-compass"></i></span>
						<span class="menu-text">Hành động</span>
					</a>
				</li>
				<li>
					<a class="has-text-grey menu-item" style="padding:13px">
						<span class="menu-icon"><i class="fa-solid fa-compass"></i></span>
						<span class="menu-text">Check in</span>
					</a>
				</li>
				<li>
					<a class="has-text-grey menu-item" style="padding:13px">
						<span class="menu-icon"><i class="fa-solid fa-compass"></i></span>
						<span class="menu-text">Tổng quan</span>
					</a>
				</li>
				<li>
					<a class="has-text-grey menu-item" style="padding:13px">
						<span class="menu-icon"><i class="fa-solid fa-compass"></i></span>
						<span class="menu-text">Đánh giá</span>
					</a>
				</li>
			</ul>
		</aside>
	</div>
	<div class="column has-background-light">
		<div class="level p-2 ">
			<div class="level-left">
				<div class="level-item">
					CHECK-IN OKRs
				</div>
			</div>
			<div class="level-right">
				<div class="level-item ">
					<div class="control">
						<div class="select is-borderless ">
							<select style="box-shadow: none; border: none;" class="has-background-light has-text-link">
								<option>Tất cả phòng ban</option>
								<option>Phòng Dev</option>
								<option>Phòng HR</option>
							</select>
						</div>
					</div>
				</div>
				<div class="level-item">
					<div class="field has-addons">
						<p class="control has-icons-left has-icons-right" style="width: 100%;">
							<input class="input" type="text" placeholder="Nguyễn Văn Dụng"
								   style="border-radius: 30px; padding-right: 2.5em; padding-left: 2.5em;" />
							<span class="icon is-left">
								<i class="fas fa-search"></i>
							</span>
							<span class="icon is-right">
								<i class="fas fa-times"></i>
							</span>
						</p>
					</div>
				</div>
				<div class="level-item">
					<p class="is-light" style="cursor: pointer; color: #1a73e8;">Lịch sử chỉnh sửa</p>
				</div>
			</div>
		</div>
		<div class="level pr-2 is-flex is-justify-content-end">
			<div class="level-right">
				<div class="level-item">
					<label class="checkbox">
						<input type="checkbox" />
						Hiển thị OKRs liên kết chéo và cấp trên
					</label>
				</div>
			</div>
		</div>
		<div class="box m-2">
			<table class="table" style="font-family:sans-serif; font-size:12px;">
				<thead>
					<tr>
						<th>Mục tiêu</th>
						<th>Thành viên liên kết</th>
						<th>Thực đạt</th>
						<th>Tiến độ</th>
						<th>Thay đổi</th>
						<th>Tự tin</th>
						<th>Check-in</th>
						<th>Trạng thái</th>

					</tr>
				</thead>
				<tr>
					<td>Phát triển tính năng A</td>
					<td>Nguyễn Văn A</td>
					<td>75%</td>
					<td>Đúng tiến độ</td>
					<td>Không</td>
					<td>80%</td>
					<td>Tuần này</td>
					<td>Đang thực hiện</td>
				</tr>
			</table>
		</div>
	</div>
</div>
@code {
	private bool isMenuCollapsed = true; 
	private bool isPinned = false;

	private void ToggleMenu()
	{
		if (!isPinned)
		{
			isMenuCollapsed = !isMenuCollapsed;
		}
	}

	private void TogglePin()
	{
		isPinned = !isPinned;
		if (isPinned)
		{
			isMenuCollapsed = false;
		}
		else
		{
			isMenuCollapsed = true;
		}
	}

}
