@inherits LayoutComponentBase

<PageTitle>BlazorApp1</PageTitle>

<div class="page">
<<<<<<< HEAD
    @* <div class="sidebar"> *@
    @*     <NavMenu /> *@
    @* </div> *@
        
    <main>
=======
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

>>>>>>> 7e2fb0bff8c1c90ba9839e522a766f0fd0b2bd04
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
