@inherits LayoutComponentBase

<PageTitle>BlazorApp1</PageTitle>

<div class="page">

    @* <div class="sidebar"> *@
    @*     <NavMenu /> *@
    @* </div> *@
    <main>
        <article class="content px-3" style="  border-left: 5px solid #FBCC08;  padding-left: 1rem !important;">
            @Body
        </article>
    </main>
</div>
