@using BlazorApp1.Data.Models
<div class="card h-100">
    <div class="card-image">
        <figure class="image is-4by3">
            <img class="thumnails" src="@NewsList?.Image" alt="@NewsList?.Title">
        </figure>
    </div>
    <div class="card-content">
        <time datetime="@NewsList?.Date">@NewsList?.Date</time>
        <br>
        <div class="content">
            @NewsList?.Title
        </div>
        <span class="tag is-warning">@NewsList?.TagText</span>
    </div>
</div>

@code {
    [Parameter]
    public News? NewsList { get; set; }
}
